BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: WebKit
ReflowComments: true
FixNamespaceComments: true
NamespaceIndentation: None
PointerAlignment: Left
ColumnLimit: 100
SpacesInLineCommentPrefix:
    Minimum: 1
BreakConstructorInitializers: AfterColon
AlignAfterOpenBracket: BlockIndent
AllowAllConstructorInitializersOnNextLine: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
BinPackArguments: false
BinPackParameters: false
